<% layout("/layouts/boilerplate") %>
<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
  }

  .filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
  }

  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }

  .filter p {
    font-size: 0.8rem;
  }
</style>

<div id="filters">
  <a href="/listings?category=Trending" class="text-dark text-decoration-none">
    <div class="filter">
      <div><i class="fa-solid fa-fire"></i></div>
      <p>Trending</p>
    </div>
  </a>

  <a href="/listings?category=Rooms" class="text-dark text-decoration-none">
    <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div>
      <p>Rooms</p>
    </div>
  </a>

  <a
    href="/listings?category=Iconic Cities"
    class="text-dark text-decoration-none"
  >
    <div class="filter">
      <div><i class="fa-solid fa-city"></i></div>
      <p>Iconic Cities</p>
    </div>
  </a>

  <a href="/listings?category=Mountains" class="text-dark text-decoration-none">
    <div class="filter">
      <div><i class="fa-solid fa-mountain"></i></div>
      <p>Mountains</p>
    </div>
  </a>

  <a href="/listings?category=Castles" class="text-dark text-decoration-none">
    <div class="filter">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
      <p>Castles</p>
    </div>
  </a>

  <a
    href="/listings?category=Amazing Pools"
    class="text-dark text-decoration-none"
  >
    <div class="filter">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p>Amazing Pools</p>
    </div>
  </a>

  <a href="/listings?category=Camping" class="text-dark text-decoration-none">
    <div class="filter">
      <div><i class="fa-solid fa-campground"></i></div>
      <p>Camping</p>
    </div>
  </a>

  <a href="/listings?category=Farms" class="text-dark text-decoration-none">
    <div class="filter">
      <div><i class="fa-solid fa-cow"></i></div>
      <p>Farms</p>
    </div>
  </a>

  <a href="/listings?category=Arctic" class="text-dark text-decoration-none">
    <div class="filter">
      <div><i class="fa-solid fa-snowflake"></i></div>
      <p>Arctic</p>
    </div>
  </a>
</div>
<h3 class="mt-3">All listings</h3>
<div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
  <%for(let list of allListings){%>
  <a href="/listings/<%=list.id%>" class="listing-link">
    <div class="card col listing-card">
      <img
        class="card-img-top"
        src="<%=list.image.url%>"
        alt="Listing"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text detail">
          <%=list.title%> <br />
          &#8377;<%=list.price.toLocaleString("en-IN")%>/night
        </p>
      </div>
    </div>
  </a>
  <%}%>
</div>
