body {
  font-family: "Plus Jakarta Sans", serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* Navbar */
.navbar {
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* Footer */
.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.f-info-social,
.f-info-links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-info-social i {
  margin: 0 1rem;
  font-size: 1.2rem;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
  margin: 0 0.5rem;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-brand {
  width: 100%;
  color: #222222;
}

/* Search Bar */
.search-inp {
  border-radius: 25px 0 0 25px;
  border: 1px solid #ced4da;
}

.btn-search {
  background-color: #fe424d;
  color: white;
  border-radius: 0 25px 25px 0;
  padding: 0 1rem;
}

.btn-search:hover {
  background-color: #fe424d;
  color: white;
}

.btn-search i {
  margin-right: 0.5rem;
}

/* Cards & Buttons */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100%;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 900 !important;
}

.listing-link {
  text-decoration: none;
}
.add-btn,
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
  color: white !important;
}

/* Show Page Specifics */
.show-img {
  height: 40vh !important;
}

/* Map */
#map {
  height: 400px;
  width: 100%;
}