body {
  font-family: "Plus Jakarta Sans", serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}

.fa-compass {
  color: crimson;
  font-size: 2rem;
}
.navbar {
  background-color: white;
}
.nav-link {
  color: black !important;
}
.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-social i {
  margin-right: 1rem;
  font-size: 1.2rem;
}
.f-info-links,
.f-info-social,
.f-info-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.f-info-links a:hover {
  text-decoration: underline;
  color: #222222;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* Cards */
.row a {
  text-decoration: none;
}
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}
.card-text {
  font-weight: 400 !important;
}

/* Card effect */
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.3;
  background-color: white;
  transition: 0.3s !important;
}

/* New list */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
  color: white !important;
}

/* Edit page */
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
  color: white !important;
}

/* Show page */
.show-img {
  height: 35vh !important;
}

.btns {
  display: flex;
}
.show-card {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* map 
 */
