<% layout("/layouts/boilerplate") %>

<div class="row">
  <!-- Full width on xs/sm, half width on md+ with an offset -->
  <div class="col-12 col-md-6 offset-md-3 mt-4 mb-3">
    <h2 class="text-center">Login to wonderlust</h2>
    <form action="/login" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          id="username"
          class="form-control"
          name="username"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          name="password"
          required
        />
      </div>
      <button class="btn btn-outline-success w-100">Login</button>
    </form>
  </div>
</div>
