<% layout("/layouts/boilerplate") %>

<div class="row">
  <!-- col-12 on small devices, col-md-6 offset-md-3 on medium+ devices -->
  <div class="col-12 col-md-6 offset-md-3 mt-4 mb-3">
    <h2 class="text-center">SignUp to wonderlust</h2>
    <form action="/signup" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          id="username"
          class="form-control"
          name="username"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          name="email"
          required
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          name="password"
          required
        />
      </div>

      <!-- Full-width button on mobile -->
      <button class="btn btn-outline-success w-100">SignUp</button>
    </form>
  </div>
</div>
